@import "../../../variables";

.block {
  span {
    color: rgba(0, 0, 0, 0.87);
    font-family: $text-font-family;
    font-size: var(--report-text-size);
    line-height: $text-line-height;
  }
}

.paragraph {
}

.header {
  h2 {
    color: $text-color;
    font-family: $text-font-family;
    font-size: $report-header-size;
  }
}

.list {
  li {
    padding: 1%;
  }
}
