.axis_x {
  text {
    transform: rotate(-25deg);
  }
}

.container svg {
  display: block;
  margin: auto;
  max-width: 1000px;
  max-height: 700px;
  background-color: white;

  .barValue {
    font: 1.2em sans-serif;
  }

  .axisLabel {
    font: 1.2em sans-serif;
    letter-spacing: 0.05em;
  }
  .axis {
    font: 0.8em sans-serif;
  }
}
